:root {
    --map-height: calc(100vh);
}

body {
    margin: 0;
    font-family: Montserrat;
}

#map {
    height: var(--map-height);
    flex:1;
}

@media (max-width: 1023px) {
    .geoapify-control {
        /* (10+2)*2 margin and border */
        width:calc(100vw - 24px); 
        margin-right:10px;
        min-width: calc(100vw - 24px);
        max-width: 360px;
    }
}

/* marker cluster overrides */
/* border */
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
    background-color: transparent;
    transition: background-color 1.8s ease-out;
}

.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
    background-color: black;
    color: white;
}

.marker-cluster-small:hover, .marker-cluster-medium:hover, .marker-cluster-large:hover {
    background-color: rgba(0,0,0,0.3);
    transition: background-color 0.3s ease-in 0.1s;
}

/* leaflet popup overrides */
.leaflet-popup-content-wrapper {
    background-color: black;
    color: white;
    font-size: 12px;
}

.leaflet-popup-content p, .leaflet-popup-content a {
    margin: 4px 0;
    display: flex;
    gap: 4px;
    align-items: center;
    color: white;
}

.leaflet-popup-content a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
}

.leaflet-popup-tip {
    background-color: black;
}

.leaflet-popup-close-button span {
    color: white;
}

/* tooltip header */
h2 {
    color: #FCDE0A;
    font-size: 24px;
    margin: 4px 0;
}

#sidebar {
    width: 500px;
    background-color: black;
    color: white;
    font-size: 12px;
    height: var(--map-height);
    overflow-y: scroll;
    display:flex;
    flex-direction: column;

}

@media (max-width: 1023px) {
    #sidebar {
        width: 100%;
    }
}

#container {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 1023px) {
    #container {
        flex-wrap: wrap;
    }
    #map {
        width: 100%;
        height: 50vh;
        flex:auto;
    }
}

#sidebar p, #sidebar a {
    margin: 4px 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    color: white;
}

#sidebar a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#sidebar h2 {
    margin-left: 12px;
}

.location {
    display: flex;
    margin-right: 12px;
    margin-bottom: 12px;
}

.location .pin {
    width:80px;
    margin: 8px 20px;
    align-self: start;
}

.location .details {
    width:450px;
    overflow: hidden;
}

.location .distance {
    align-self: end;
}