body {
    margin: 0;
}

#map {
    height: 100vh;
}

@media (max-width: 1023px) {
    .geoapify-control {
        /* (10+2)*2 margin and border */
        width:calc(100vw - 24px); 
        margin-right:10px;
        min-width: calc(100vw - 24px);
        max-width: 360px;
    }
}